.items-row {
    display: flex;
    gap: 60px;          
    flex-wrap: wrap;     
    justify-content: center;
    margin-bottom: 0px; 
}

h1{
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.item-box {
    width: 175px;
}

.item-box img {
    width: 48px;
    image-rendering: pixelated;
    margin-bottom: 10px;
}


.second-row {
    margin-left: 0;
}

.weapons-row {
  margin-top: 60px; 
}

body {
  margin: 0;
  padding: 0;
}

.top-image {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.top-image img {
  display: block;
  max-width: 100%;
} 

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* FOOTER */
.site-footer {
    margin-top: auto;
    width: 100%;

    background-color: #111;
    color: #ddd;
    text-align: center;

    padding: 14px 20px;
    font-size: 14px;

    box-sizing: border-box;
}