.items-row {
    display: flex;
    gap: 60px;          
    flex-wrap: wrap;     
    justify-content: center;
    margin-bottom: 0px; 
}

/* Individual item box */
.item-box {
    width: 175px;
}

.item-box img {
    width: 48px;
    image-rendering: pixelated;
    margin-bottom: 10px;
}

/* Optional: second row spacing */
.second-row {
    margin-left: 0;   /* align under first row */
}

body {
  margin: 0;
  padding: 0;
}

.top-image {
  display: flex;
  justify-content: center;
  margin-top: 40px; /* adjust this value */
}

.top-image img {
  display: block;
  max-width: 100%;
} 